<div>
    <ul style="display: flex;">
        <li style="margin-right: 50px;"> <a href="/">Home</a></li>
        
        <li style="margin-right: 50px;"> <a href="/bookspage">Books</a></li>
        <li style="margin-right: 50px;"> <a href="/loginpage">Login</a></li>
        <li style="margin-right: 50px;"> <a href="/aboutuspage">About us</a></li>
        <li style="margin-right: 50px;"> <a href="/authorspage">Authors</a></li>
        <li style =margin-right: 50px;> <a href="/registrationpage">Register</a></li>
    </ul>
</div>