{% extends 'master.html' %}

{% block content %}

<h1 style="text-align: center;">Registration Form</h1>
<br>

<form style="text-align: center;">
    <div>
        <input type="text" placeholder="Enter full name" name="fname">
    </div>
    <br>
    
    <div>
        <input type="text" placeholder="Email address" name="eaddress">
    </div>
    <br>
    
    <div>
        <input type="text" placeholder="Enter password" name="password">
    </div>
    <br>
    
    <div>
        <input type="text" placeholder="Confirm password" name="cpassword">
    </div>
    <br>
    
    <button>Register</button>
</form>

{% endblock content %}